@model IEnumerable<Proekt_IT.Models.Review>

@{
    ViewBag.Title = "My Reviews";
}

<h2>My Reviews</h2>

<table class="table" id="reviewsTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Game.Name, "Details", "Games", new { id = item.GameId }, new { @class = "size20px" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @{
                        double average = item.Rating;
                        string color;
                        if (average < 3.3)
                        {
                            color = "red";
                        }
                        else if (average < 6.7)
                        {
                            color = "#F6BE00";
                        }
                        else
                        {
                            color = "green";
                        }
                        string styleString = "color:" + @color;
                    }
                    <label class="borderAndSize" style=@styleString>@item.Rating</label>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    .borderAndSize {
        font-size: 20px;
        -webkit-text-stroke: 0.5px black;
    }
    .size20px {
        font-size: 20px;
    }
</style>

@section Scripts {
    <script>
        $("#reviewsTable").DataTable();
    </script>
}     