@model Proekt_IT.Models.Genre
@using Proekt_IT.Models

@{
    ViewBag.Title = "Details";
}

<h2>Details for Genre: @Model.Name</h2>

<div>
    <hr />
    <div class="row">
        <div class="col-lg-8">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd></br>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

            </dl>
        </div>
        <div class="col-lg-4">
            <table>
                <thead>
                    <tr>
                        <th>List of Games</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Game game in Model.Games)
                    {
                        <tr>
                            <td>@Html.ActionLink(game.Name, "Details", "Games", new { id = game.GameId }, null)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GenreId }, new { @class = "btn btn-default" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</p>
